[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=4.5.0"
pytest-cov = ">=2.7.0"
pytest-mock = ">=1.10.0"
pytest-dotenv = ">=0.4.0"
tavern = ">=0.30.0"
flake8 = ">=3.7.0"
flake8-bugbear = ">=19.8.0"
# flake8-docstrings = ">=1.3.1"
coverage = ">=4.5.4"
bandit = ">=1.6.2"
mock = ">=3.0.5"
cfn-lint = ">=0.24.0"
aws-sam-cli = ">=0.39.0"
awscfncli2 = ">=2.1.19"
awscli = ">=1.16.0"

[packages]
#
# Lambda Specific
#
boto3 = ">=1.9.0"
aws_xray_sdk = ">=2.4.2"
requests = ">=2.22.0"
#
# Flask restful api
#
flask = "*"
pynamodb = "*"
flask-restx = "*"
#marshmallow = "*"
aws-wsgi = "*"
#
# Local packages are installed as editable
#
todoapi = {editable = true,path = "./src/todoapi"}

[requires]
python_version = "3.7,3.8"

[pipenv]
allow_prereleases = false
